.container {
  margin: 10rem;

  .filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .websites {
    margin: 50px;
    display: grid;
    justify-content: center;
    grid-gap: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.websites-title {
  text-transform: uppercase;
  color: rgb(46, 132, 158);
}
