.search {
  height: 50px;
  color: brown;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  margin: 1rem 1rem;
  color: rgb(46, 132, 158);
  border-radius: 0.5rem;
  outline: none;
}
